<div class="page-container">
  <div class="padded-container">
    <div class="heading">What is Skedge?</div>
    <div class="body">Skedge is simply the most intuitive way to design, manage, and fill shifts on a weekly basis. We kept it simple there are no advanced features, no confusing menus or un-necessary</div>
  </div>
</div>
