<div class="page-container">
  <div class="padded-container">
    <div class="heading">Welcome, <%= current_user.first_name %></div>
    <div class="sub-heading">This is the <%= current_organization.name %> dashboard</div>
</div>
