<div class="page-container">
  <div class="padded-container">
    <div class="heading">Welcome, <%= current_user.first_name %></div>
    <%= link_to "Create a new shift", '#', class: 'body' %><br>
    <!-- Add number of notifications -->
    <%= link_to "View action items", '#', class: 'body' %><br>
    <%= link_to "Edit your organization profile", '#', class: 'body' %><br>
  </div>
</div>
