<div class="page-container">
  <div class="padded-container primary">
    <div class="heading center">Skedge</div>
    <div class="sub-heading center">The best scheduling utility. Period.</div>
  </div>
</div>
