<div class="page-container">
  <div class="padded-container primary">
    <div>
      <div class="heading">Primary</div>
      <div class="sub-heading">Sub-heading</div>
      <div class="body">This is some body text</div>
    </div>
  </div>
  <div class="padded-container secondary">
    <div>
      <div class="heading">Primary</div>
      <div class="sub-heading">Sub-heading</div>
      <div class="body">This is some body text</div>
    </div>
  </div>
  <div class="padded-container tertiary">
    <div>
      <div class="heading">Primary</div>
      <div class="sub-heading">Sub-heading</div>
      <div class="body">This is some body text</div>
    </div>
  </div>
    <div class="padded-container primary inverse">
    <div>
      <div class="heading">Primary</div>
      <div class="sub-heading">Sub-heading</div>
      <div class="body">This is some body text</div>
    </div>
  </div>
  <div class="padded-container secondary inverse">
    <div>
      <div class="heading">Primary</div>
      <div class="sub-heading">Sub-heading</div>
      <div class="body">This is some body text</div>
    </div>
  </div>
  <div class="padded-container tertiary inverse">
    <div>
      <div class="heading">Primary</div>
      <div class="sub-heading">Sub-heading</div>
      <div class="body">This is some body text</div>
    </div>
  </div>
</div>
