.page-container {
	max-width: 1920px;
	margin: 0 auto;
}

.padded-container {
	max-width: 100%;
	width: 100%;
	padding: 5vh 10vw;
	& > div {
		margin-bottom: 20px;
		width: 100%;
	}
}

// Model-specific
.timecard {
	padding: 20px;
	margin-bottom: 20px;
}