.page-container {
	max-width: 1920px;
	margin: 0 auto;
}

.padded-container {
	max-width: 100%;
	width: 100%;
	padding: 5vh 10vw;
	& > div, & > a {
		margin-bottom: 20px;
		width: 100%;
	}
}

.side-by-side {
	width: 100vw;
	box-sizing: border-box;
	display: flex;
	& > div, & > a {
		padding: 10%;
		display: flex;
		flex-direction: column;
		flex-basis: 50%;
	}
}

// Model-specific
.timecard {
	padding: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
	.side-by-side {
		& > div, & > a {
			
		}
	}
}