@import 'colors.scss';

body {
	max-width: 1920px;
	margin: 0 auto;
}

.padded-outer {
	max-width: 100%;
	width: 100%;
	padding: 2vh 2vw;
	background-color: $red;
	min-height: 200px;
	& > div {
		min-height: 200px;
		background-color: $white;
		margin-bottom: 20px;
		width: 100%;
	}
}