<div class="page-container">
  <div class="padded-container">
    <div class="heading">Let's get to know your organization</div>
    <%= form_for @organization do |f| %>

    <% end %>
  </div>
</div>
