<!-- TODO: MAKE THIS SECURE -->
<meta HTTP-EQUIV="REFRESH" content="5; url=<%= new_user_registration_url(organization_id: @organization.id) %>">

<div class="page-container">
  <div class="padded-container">
    <div class="heading center">Thanks for joining Skedge!</div>
    <div class="body center">We've gotten to know <%= @organization.name %>, now let's get to know its manager.</div>
    <div class="body center">Please wait...</div>
  </div>
</div>
